# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.swp

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~.nib
